body {
    padding-top: 70px;
}
.body{
  padding-top: 5px;
}
h1{
  border-bottom: 1px #a5a4a4 solid;
  padding-bottom: 5px;
}
.name{
    background-color: #e7e1e3;
    width: 350px;
    border:0.5px #a5a4a4 solid;
    padding-top: 3px;
    height: 55px;
    padding-left: 8px;
    float: right;
    border-radius: 3px 3px 0px 0px;
    margin-right: 590px;
    top: 50%;
    position:relative;

}
#info{
    margin-right: 590px;
    float: right;
    float: right;
    border: 0.5px #a5a4a4 solid;
    width: 350px;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    padding-left: 8px;
}
.date{
  padding-top: 20px;
  width: 300px;
  border-bottom: 0.5px #a5a4a4 solid;
  padding-bottom: 20px;
}
.info{
  padding-top: 3px;
}
#tinfo{
  width: 300px;
  padding-top: 1px;
  padding-bottom: 10px;
  border-bottom: 0.5px #a5a4a4 solid;
}
.pos{
  padding-top: 8px;
}
img{
    float: left;
    border:0.5px #a5a4a4 solid;
    padding:2px;
    border-radius: 3px;
    width: 170px;
    height:240px;
}
