{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app') }}"/>
{% endblock %}

{% block main %}
<h1>Profile</h1>
<div class="body">
<img src="{{url_for('static',filename='Aladin.jpg')}}"></img>
<div class="name">
    <h3> {{name}} </h3>
</div>
<div id="info">

    <p class="date">{{date}}</p>
    <div id="tinfo">
      <h5 class="info"><strong>Username:</strong> {{uname}}</h5>
      <h5 class="info"><strong>ID Number:</strong> {{ID}}</h5>
      <h5 class="info"><strong>Age:</strong> {{age}}</h5>
      <h5 class="info"><strong>Gender:</strong> {{gender}}</h5>
    </div>
    <p class="pos">{{pos}}</p>
{% endblock %}
</div>
</div>
{% block js %}
<script type="text/javascript" src="{{url_for('static',filename='js/app.js')}}"></script>
{% endblock %}
